<%- include('../includes/head.ejs') %>
    <head>
        <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p._id.title %></h1>
                            <h2>(<%= p.quantity %>) for $<%= p._id.price %> each</h2>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p._id._id %>" name="productId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                        <li class="cart__item">
                            <h1>Total cart: $<%= totalCost %></h1>
                        </li>
                </ul>
                <hr>
                <div class="centered">
                    
                    <a class="btn" href="/checkout">Order now</a>
                </div>
                
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>

